.article-content{
  div.text2 h1{
    color : #fff;
  }
  table {
    border: 1px solid #ffffff;
    background-color: #2a2e39;
    border-collapse: collapse;

    width: 100%;
    td{
      border: 1px solid #ffffff;
      padding: 5px;
    }
  }
    th, thead td{

  }
}