body {
  margin: 0px;
  background-color: @bgColorBase;
  //font-family: @latin;
  font-size: 18px
}

.languages {
  margin-right: 27px;
  float: right;
  position: relative;
  margin-top: 23px;
  li {
    display: inline-block;
    border-right: 1px solid #7e7f82;
    padding: 5px;
    font-size: 14px;
  }
  li:last-child {
    border: none;
    height: 1px;
  }
  .active {
    position: relative;
    color: #cdc9c7;
  }
  a {
    color: #959698;
  }
}

header {
  nav {
    ul {
      text-align: center;
    }
    li {
      display: inline-block;
    }
    img {
      margin: 0px auto;
      display: block;
      position: relative;
      padding: 20px;
    }
  }
}

header {


  nav {
    padding-top: 50px;
    ul {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    li {
      display: inline-block;
      align-self: center;

      a {
        text-transform: uppercase;
        padding: 20px;
        color: #63666e;
        &:hover {
          color: @colorHover;
        }
      }
    }
    li.logo_button {
      a {
        padding: 0px;
      }
    }
  }
  img {
    margin: 0px auto;
    display: block;
    position: relative;
  }
}


#left {
  background-color: #B5B0AD;
  height: 50%;
  width: 50%;
  position: absolute;
}

footer {
  clear: both;
  height: 140px;
  line-height: 40px;
  width: 100%;
  background-color: #ffffff;
  position: static;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  span {
    flex: 0 0 50%;
    padding-top: 63px;
    color: #7e7e7e;
    font-size: 10px;

  }
  a {
    color: #7e7e7e;
    font-size: 10px;
  }

}

footer > span:last-child {
  text-align: right;
  color: #B5B0AD;
}

.box1 {
  position: relative;
  height: 400px;
  background-color: aqua;
  background: center center;
  background-image: url("/img/box1.jpg");
  img {
    background: center center;
    background-image: url("/img/box1.jpg");
    li {
      position: center;
    }
  }
}

.box3 {

  position: relative;
  height: 400px;
  background-color: white;
  text-transform: uppercase;
  font-size: 40px;
  color: #2a2e39;

  .span {
    background: #354f5d;
    text-align: center;
  }
  strong {
    color: #2a2e39;
  }
}

.box2 {
  position: relative;
  height: 400px;
  background-color: white;
  text-transform: uppercase;
  font-size: 40px;

  .span {
    background: #354f5d;
    text-align: center;
  }
  strong {
    color: #2a2e39;
  }
}

.box4 {
  position: relative;
  height: 400px;
  background-color: olivedrab;

  img {
    background-size: cover;
    li {
      position: center;
    }
  }
}

.box5 {
  flex: 0 0 100%;
  position: relative;
  min-height: 400px;
  background-color: #bbb6b4;
  font-size: 43px;
  text-transform: uppercase;

  .span {
    text-align: center;
    color: white;
  }
  .button {
    position: center;
  }
}

section.slider {
  img {
    width: 100%;
    height: auto;
  }
}

.slick-next {
  right: 25px;
}

section.boxes {
  display: flex;
  flex-wrap: wrap;
}

section.boxes > div {
  flex: 1 0 50%;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.text {
  text-align: center;
  h1, h2, h3, p {
    text-align: center;
    display: block;
  }
}

div.text2 {
  h1, h2, h3, p {
    color: white;
  }
  .btn {
    color: #fff;
    border-color: #fff;
  }
}

.btn {
  font-size: 17px;
  font-weight: 600;
  line-height: 19px;
  padding: 14px 30px 15px;
  color: #000;
  border: 2px #000 solid;
  position: relative;
}

.social {
  margin-left: 27px;
  float: left;
  position: relative;
  margin-top: 23px;
  font-size: 16px;

  a {
    color: #ffffff;
    margin-left: 7px;
    background-color: #dbd4d1;
    border-radius: 100px;
    width: 27px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    display: inline-block;
    position: relative;
    float: left;
  }
}

@colorBase: #ffffff;
@colorText: #000000;
@colorHover: #cdc9c7;
@bgColorBase: @colorBase;

