body 						{
  margin:0; padding: 0;
  background-color: #000;
}
body, p, td, th, input, select, textarea 	{

  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

p									{margin: 0; padding: 0;}
a img, a 							{border: medium none; outline: medium none; text-decoration: none; display: inline-block; }
a:hover 							{text-decoration: none;}
h1, h2, h3, h4, h5, h6 				{ font-family: 'Lato', sans-serif; display:inline-block; font-weight:  normal; padding: 0; margin: 0;}
ol, ul ,ul li 						{ list-style: none outside none;  padding: 0; margin: 0;}
input[type=text], input[type=password], textarea{ outline: none; margin: 0 ; padding: 0;}
textarea							{resize: none;}
button								{border: none; cursor: pointer;}
select								{outline: none; cursor: pointer;}
/*klasy nadajace style czcionek*/
.b{font-weight: bold;}
/*dodatkowe klasy pomocnicze*/
.clear {clear: both;     position: relative;
  display: block;}
.hid{display: none !important;}
.upp{ text-transform: uppercase;}
.low{ text-transform: lowercase;}
.fl{float: left;}
.fr{float: right;}


