@media screen and (max-width: 1200px){

}


@media screen and (max-width: 1024px) {
  section.boxes {
    display: flex;
    flex: 1 0 50%;
  }

  #menuicon {
    display: none;
  }
}



  @media screen and (max-width: 768px) {
    nav {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: #ffffff;
      width: 100%;
      right: 0px;
    }

    nav ul li a {
      display: block;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }

    .open {
      transition: ease;
      nav ul {
        flex-direction: column;
        li:last-child{
          margin-bottom: 1rem;
          a{
            border: none;
          }

        }
        a {
          padding: 1rem;
          border-bottom: 1px solid #adadaf;
        }
      }
      nav {
        display: inline-block;
        ul {
          text-align: center;
        }
        li {
          display: inline-block;
        }

        img {
          margin: 0px auto;
          display: block;
          position: relative;
          padding: 20px;
        }

        .logo_button {
          display: none;
        }
        .logo-button1 {
          display: block;
        }
      }

      #menuicon span:nth-child(2n) {
        display: none;
      }
      span.rotate {
        transform: rotate(45deg);
        top: 9px;

      }
      span.rotate1 {
        transform: rotate(-45deg);
      }
      .logo {
        display: block;
      }
    }

    #menuicon {
      margin-left: 30px;
      margin-top: 15px;
      display: inline-block;
      width: 25px;
      height:
      position: relative;
      z-index: 4;
      cursor: pointer;
      padding: 10px 10px 12px 10px;

      span {
        border-radius: 5px;
        height: 3px;
        width: 100%;
        background: #DBD4D1;
        position: relative;
        margin: 6px 0px;
        display: block;

      }
    }

    .languages {
      a:last-child {
        color: #adadaf;
      }
    }

    section.boxes {
      flex: 0 0 100%;
      flex-direction: column;

    }

    footer {
      text-align: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
      padding-top: 2.5rem;
      span {
        flex: 0 0 0;
        text-align: center;
        padding: 0;
        margin: 0;
        color: #B5B0AD;
        flex-direction: column;
      }
      span:last-child {
        text-align: center;
        flex-direction: column;
        padding-bottom: 2.5rem;
      }

    }

    .foot1 {
      flex-direction: column;
      text-align: center;
      margin: 0;
      padding: 0;
      color: #B5B0AD;
    }
  }
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}
